html{
	height: 100%;
}
body{
	overflow: hidden;

	font-size: 16px;
	letter-spacing: .02em;
	line-height: 1.4;
	.noselect;
	.font;
	color:#666;
		background: #fbf6ed url('../images/bg.jpg') top center;
	background-size: cover;
}
#bg{
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	background: #fbf6ed url('../images/bg.jpg') top center;
	background-size: cover;
	.g{
		@background-size: 830px;
		position: absolute;
		width: 50%;
		height: 50%;
		&.g1{
			top: 0;
			left: 0;
			background: url('../images/g1.svg') top left no-repeat;
			background-size: @background-size;
		}
		&.g2{
			top: 0;
			right: 0;
			background: url('../images/g2.svg') top right no-repeat;
			background-size: @background-size;
		}
		&.g3{
			bottom: 0;
			left: 0;
			background: url('../images/g4.svg') bottom left no-repeat;
			background-size: @background-size;
		}
		&.g4{
			bottom: 0;
			right: 0;
			background: url('../images/g3.svg') bottom right no-repeat;
			background-size: @background-size;
		}
	}
}
#scythe-container{
	position: relative;
	overflow: hidden;
	width: 420px;
	height: 560px;
	margin:0 auto;	
}



.scythe-view{
	position: absolute;
	z-index: 10;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
	.transition(opacity .4s);
	&.current{
		z-index: 12;
		visibility: visible;
		opacity: 1;
	}
}
.container{
	position: relative;
	padding:20px;	
	margin:0 auto;
	max-width: 440px;
	height: 100%;//470px;
}
.footer{
	padding:20px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.center{
	text-align: center;
}

.t1,.t2,.t3,.t4,.t5,.t6{
	.font-alt;
	.uppercase;
	color:#999;
}
.t1{
	font-size: 36px;
}

input,select,textarea,button,label{
	.input-base;
	border-radius: 0;
	display: block;
	width: 80%;
	//max-width: 280px;
	margin: 0 auto;
	

	&:focus{
		outline: none;
	}
}

input,select,textarea{
	background-color: rgba(255, 255, 255, .3);
	border: 1px solid #e2e2e2;
	margin-bottom: 15px;
	font-size: 18px;
	letter-spacing: .02em;
	line-height: 1.4;
	padding: 5px 10px;
	
	.font;
}
select{
	width: auto;
	min-width: 180px;
	text-align: center;
	cursor: pointer;
	option{
		text-align: center;
		.font;
		.input-base;
	}
}
button{
	.font-alt;
	.uppercase;
	font-size: 26px;
	padding: 11px 6px 8px;
	line-height: 1;
	background-color: @color-primary;
	color:rgba(255,255,255,.9);
	border:none;
	cursor:pointer;
	&:hover{
		background-color: lighten(@color-primary, 4%)
	}
}

	










