.attack-row{
  display: flex;
  justify-content:center;
  align-items:center;
  margin-bottom: 2px;
  .player-turn-mid{
    padding: 0 25px 25px;
    .font-alt;
    font-size: 20px;
    line-height: 1;
    .sm{
      font-size: 17px;
      opacity: .5;
      margin-top: 5px;
    }
  }
}

#view_attack_worker{  
  p{
    padding:5px 0 15px;
    font-size: 14px;
    //width: 80%;
  }
  img{
    opacity: .8;
  }
  .button{
    width: 80%;
    margin:0 auto;
  }
}